body {
    height:200px;
    overflow-y:scroll;
    margin:0;
    padding:0;
    Background: #E6E6E6;
}
svg {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
}
@font-face {
    font-family: segoeUI;
    src: url("font/segoeui.ttf");
}
@font-face {
    font-family: segoeUIl;
    src: url("font/segoeuil.ttf");
}
@font-face {
    font-family: segoeUIi;
    src: url("font/sdfsduii.ttf");
}
@font-face {
    font-family: swiss;
    src: url("font/SwissB.ttf");
}
#welcomeBox {
    font-family: arial;
    font-size: 12px;
}
#projectTitle {
    font-family: arial;
    font-size: 19px;
}
#projectCaption {
    font-family: arial;
    font-size: 15px;
    letter-spacing: 3px;
}
#click {
    font-family: arial;
    font-size: 26px;
}
.backText {
    font-family: arial;
    font-size: 15px;
    letter-spacing: 3px;
}
.clipBoxRect {
    /*display: none;*/
}
.clickable {
    cursor: pointer;
}
.texts {
    font-family: arial;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;16
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
/*
ddf1be
*/