body {
	height:200px;
	overflow-y:scroll;
	margin:0;
	padding:0;
	Background: #E6E6E6;
}
svg {
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
}
@font-face {
	font-family: segoeUI;
	src: url("segoe/segoeui.ttf");
}
@font-face {
	font-family: segoeUIl;
	src: url("segoe/segoeuil.ttf");
}
#welcomeBox {
	font-family: segoeUI;
	font-size: 12px;
}
#projectTitle {
	font-family: segoeUI;
	font-size: 20px;
}
#projectCaption {
	font-family: segoeUIl;
	font-size: 13px;
	letter-spacing: 2px;
}
.clipBoxRect {
	/*display: none;*/
}
.clickable {
	cursor: pointer;
}